<{include file="public/head.html"}>
		<div id="main">
		  	<div class="head-dark-box">
				<div class="tit">后台管理->图片管理->修改图片</div>
			</div>	
			<{ include file="public/title.html" }>
			<script>
				function checkselect(obj){
					if(obj.pid.options[obj.pid.selectedIndex].value==0){
						var outmess=document.getElementById("outmess");
						outmess.innerHTML="还没有选分类";
						outmess.className+=" error-msg";
						return false;
					}
					return true;
				}
			</script>
		    <form method="post" action="<{$url}>/update" onsubmit="return checkselect(this)" enctype="multipart/form-data">
			<div class="msg-box">
				<ul class="viewmess">
					<input type="hidden" name="id" value="<{$post.id}>">
					<li class="dark-row">
						<span class="col_width">图集相册</span>
						  <{ $select }>	
					</li>
					<li class="light-row">
						<span class="col_width">&nbsp; </span>
						<input type="checkbox" name="thumb" <{$thumb}> value="1"> 生成缩略图 
						<input type="checkbox" name="water" <{$water}> value="1"> 加水印 
					</li>

					<li class="dark-row">
						<span class="col_width">缩略图 <span class="red_font"></span> </span>
						<span id="logo">
							<img src="<{$public}>/uploads/prcture/<{$post.name}>" width="100" onclick="change();" title="图片必须小于2M" />
							<input type="button" class="button" onclick="change();" title="图片必须小于2M" value="更换缩略图">
						</span>
						<script>
							function change(){
								var logo=document.getElementById("logo");
								logo.innerHTML='<input type="file" name="pic" class="text-box" >&nbsp;图片必须≤2M.';
							}
						</script>
					</li>
					<li class="light-row">
						<span class="col_width">描述： <span class="red_font"></span> </span>
					<input type="text" name="title" value="<{$post.title}>" class="text-box"/>
					</li>					
					<li class="dark-row">
						<span class="col_width">&nbsp;  </span>
						<input type="hidden" name="id" value="<{$post.id}>" />
						<input type="submit" class="button"  value="修 改">&nbsp;&nbsp;
						<input type="reset" class="button" value="重 置">&nbsp;&nbsp;
					</li>
				</ul>	
			</div>
                    </form>	
		</div>
<{include file="public/footer.html"}>	


