<{include file="public/head.html"}>
	<div class="content">
		<div><a href="<{$url}>/about"><img src="<{$res}>/images/home.png"/></a></div>
		<div><a href="<{$url}>/article"><img src="<{$res}>/images/news.png"/></a></div>
		<div><a href="<{$url}>/board"><img src="<{$res}>/images/board.png"/></a></div>
		<div><a href="<{$url}>/product"><img src="<{$res}>/images/product.png"/></a></div>
		<div><a href="<{$url}>/board"><img src="<{$res}>/images/cart.png"/></a></div>
		<div><a href="<{$url}>/job"><img src="<{$res}>/images/member.png"/></a></div>
	</div>
	<div class="clear"></div>
<{include file="public/footer.html"}>