<div id="glist">
<div id="main">	
  	<div class="head-dark-box">
		<div><span style="float:left;width:500px;color:#fff;">&nbsp;&nbsp;主题名称：<{$bcontent.title}></span><span style="cursor:pointer;color:#000;" onclick="closewin()">关闭</span></div>
	</div>	
	<div class="light-row" style="width:100$;padding:10px;margin:5px;">
				<div style="font-weight:bold;border-bottom:2px solid #ccc;padding:6px;color:red;">-- 相关信息 --</div><br/>
				<div style="line-height:21px;">地址：<{$bcontent.address}><br>邮箱：<{$bcontent.email}><br>QQ/MSN：<{$bcontent.msn}>
				<div style="font-weight:bold;border-bottom:2px solid #ccc;padding:6px;color:red;">-- 留言内容 --</div><br/>
				<{$bcontent.content}></div>
	</div>	
</div>
</div>
