<!DOCTYPE html PUBLIC
          "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<{include file="public/head.html"}>
		<div id="main">
		  	<div class="head-dark-box">
				<div class="tit">后台管理 > 广告位管理 > 添加广告位</div>
			</div>	
			<{ include file="public/title.html" }>
		    <form name="article" method="post" action="<{$url}>/insert" enctype="multipart/form-data">
			<div class="msg-box">
				<ul class="viewmess">
					<li class="dark-row">
						<span class="col_width">广告位置 <span class="red_font">*</span></span>
						<select name="wz" class="text-box">
							<option value="1">首页横幅</option>
							<option value="2">单页左侧</option>
							<option value="3">文章列表页左侧</option>
							<option value="4">文章内容页左侧</option>
							<option value="5">展示列表页左侧</option>
							<option value="6">展示内容页左侧</option>
						</select>
					</li>
					<li class="light-row">
						<span class="col_width">广告图片 <span class="red_font">*</span></span>
						<input type="file" name="pic" class="text-box" />
					</li>
					<li class="dark-row">
						<span class="col_width">链接地址 <span class="red_font">*</span></span>
						<input type="text" class="text-box" name="links" maxlength="80" size="40" value="<{ $post.links }>">
					</li>
					<li class="dark-row">
						<span class="col_width">是否显示</span>
						
						<input type="radio" name="display"  <{if $post.display eq "1" or $post.display eq null}> checked <{/if}> value="1"> 显示
						<input type="radio" name="display" <{if $post.display eq "0" }> checked <{/if}> value="0"> 不显示
					</li>
					<li class="light-row">
						<span class="col_width">&nbsp;  </span>
						<input type="submit" class="button" value="添加广告图">&nbsp;&nbsp;
						<input type="reset" class="button" value="重置广告图">
					</li>
				</ul>	
			</div>
                    </form>	
		</div>
<{include file="public/footer.html"}>	


