<{include file="public/head.html"}>
	<div id="main">
		<div class="head-dark-box">
			<div class="tit">系统管理-常规设置-安装模板</div>
		</div>	
		<{include file="public/title.html" }>
		<form  method="post" action="<{$url}>/set">
			<div class="msg-box">
				<ul class="viewmess">
					<li class="dark-row">
						<span class="col_width" style="width:100px;">模板标识&nbsp;<span class="red_font">*</span></span>
						<input type="text" class="text-box" name="styleen" size="15" value="<{$post.styleen}>">
						&nbsp;&nbsp;即模板文件夹的名字，为避免错误此处仅允许填写英文字符.
					</li>
					<li class="light-row">
						<span class="col_width" style="width:100px;">模板名称&nbsp;<span class="red_font">*</span></span>
						<input type="text" class="text-box" name="stylename" size="15" value="<{$post.stylename}>">
						&nbsp;&nbsp;用户自定义，方便在切换时识别.
					</li>
					<li class="dark-row">
						<span class="col_width" style="width:100px;">&nbsp;</span>
						<input type="submit" class="button" name="mod" value="安 装">&nbsp;&nbsp;
						<input type="reset" class="button" value="重 置">
					</li>
				</ul>	
			</div>
		</form>
	</div>
<{include file="public/footer.html"}>