<{include file="public/head.html"}>
<div id="menu" style="border-top:1px solid #FFFFFF;">
	<div class="option">
		<div id="optionmenu" class="menutitle" style="color:#FFFFFF;">
		<{if $smarty.get.pd eq "two"}>
		【基本管理】
		<{elseif $smarty.get.pd eq "three"}>
		【文章管理】
		<{elseif $smarty.get.pd eq "four"}>
		【展示管理】
		<{elseif $smarty.get.pd eq "five"}>
		【招聘管理】
		<{elseif $smarty.get.pd eq "six"}>
		【维护与更新】
		<{elseif $smarty.get.pd eq "seven"}>
		【扩展管理】
		<{elseif $smarty.get.pd eq "eighth"}>
		【用户管理】
		<{elseif $smarty.get.pd eq "night"}>
		【移动网站管理】
		<{elseif $smarty.get.pd eq "ten"}>
		【模板与数据】
		<{else}>
		【系统首页】
		<{/if}>
		</div>
	</div>
	<div id="menulist" class="content">
		<{if $smarty.get.pd eq "two"}>
		<div>
		<h4 onclick="domenu(this, 'list1')" class="tit">--常规管理--</h4>
		<{if $smarty.session.webadmin}>	
		<ul id="list1">
			
			<li><a class="list" href="<{$app}>/base/sysinfo" target="main">系统信息</a></li>
			<li><a class="list" href="<{$app}>/base/baseset" target="main">基本设置</a></li>
			<li><a class="list" href="<{$app}>/base/menu" target="main">页面导航</a></li>
			<li><a class="list" href="<{$app}>/base/upcache" target="main">更新缓存</a></li>
		</ul>
		<{else}>
		<h4>权限不足</h4>
		<{/if}>
		<h4 onclick="domenu(this, 'list40')" class="tit">--留言管理--</h4>
		<{if $smarty.session.webadmin}>	
		<ul id="list40">
			<li><a class="list" href="<{$app}>/board" target="main">查看留言</a></li>
		</ul>
		<{else}>
		<h4>权限不足</h4>
		<{/if}>	
		<h4 onclick="domenu(this, 'list4')" class="tit">--公告管理--</h4>
		<{if $smarty.session.webadmin}>	
		<ul id="list4">
			<li><a class="list" href="<{$app}>/notice/add" target="main">添加公告</a></li>
			<li><a class="list" href="<{$app}>/notice/" target="main">管理公告</a></li>		
		</ul>
		<{else}>
		<h4>权限不足</h4>
		<{/if}>
		<h4 onclick="domenu(this, 'list22')" class="tit">--单页分类--</h4>
		<{if $smarty.session.webadmin}>	
		<ul id="list22">
			<li><a class="list" href="<{$app}>/acolumn/add" target="main">添加分类</a></li>
			<li><a class="list" href="<{$app}>/acolumn" target="main">管理分类</a></li>	
		</ul>
		<{else}>
		<h4>权限不足</h4>
		<{/if}>	
		<h4 onclick="domenu(this, 'list18')" class="tit">--单页管理--</h4>
		<{if $smarty.session.webadmin}>	
		<ul id="list18">
			<li><a class="list" href="<{$app}>/about/add" target="main">添加单页</a></li>
			<li><a class="list" href="<{$app}>/about" target="main">管理单页</a></li>	
		</ul>
		<{else}>
		<h4>权限不足</h4>
		<{/if}>			
		<h4 onclick="domenu(this, 'list5')" class="tit">--焦点图管理--</h4>
		<{if $smarty.session.webadmin}>	
		<ul id="list5">
			<li><a class="list" href="<{$app}>/banner/add" target="main">添加焦点图</a></li>	
			<li><a class="list" href="<{$app}>/banner" target="main">管理焦点图</a></li>	
		</ul>
		<{else}>
		<h4>权限不足</h4>
		<{/if}>			
		<h4 onclick="domenu(this, 'list2')" class="tit">--友情链接管理--</h4>
		<{if $smarty.session.webadmin}>	
		<ul id="list2">
			<li><a class="list" href="<{$app}>/flink/add" target="main">添加友情链接</a></li>
			<li><a class="list" href="<{$app}>/flink" target="main">管理友情链接</a></li>		
		</ul>
		<{else}>
		<h4>权限不足</h4>
		<{/if}>					
		</div>
		<{elseif $smarty.get.pd eq "three"}>
		<div>
		<h4 onclick="domenu(this, 'list6')" class="tit">--栏目管理--</h4>
		<{if $smarty.session.articleadmin}>	
		<ul id="list6">
			<li><a class="list" href="<{$app}>/column/add" target="main">添加栏目</a></li>
			<li><a class="list" href="<{$app}>/column" target="main">管理栏目</a></li>
		</ul>
		<{else}>
		<h4>权限不足</h4>
		<{/if}>			
		<h4 onclick="domenu(this, 'list7')" class="tit">--文章管理--</h4>
		<{if $smarty.session.articleadmin}>	
		<ul id="list7">
			<li><a class="list"  href="<{$app}>/article/add" target="main">添加文章</a></li>
			<li><a class="list"  href="<{$app}>/article" target="main">管理文章</a></li>
		</ul>
		<{else}>
		<h4>权限不足</h4>
		<{/if}>
		<h4 onclick="domenu(this, 'list8')" class="tit">--幻灯片管理--</h4>
		<{if $smarty.session.articleadmin}>	
		<ul id="list8">
			<li><a class="list" href="<{$app}>/play" target="main">管理幻灯</a></li>
		</ul>
		<{else}>
		<h4>权限不足</h4>
		<{/if}>			
		</div>
		<{elseif $smarty.get.pd eq "four"}>
		<div>
		<h4 onclick="domenu(this, 'list9')" class="tit">--展示栏目--</h4>
		<{if $smarty.session.photoadmin}>	
		<ul id="list9">
			<li><a class="list" href="<{$app}>/phcolumn/add" target="main">添加展示栏目</a></li>
			<li><a class="list" href="<{$app}>/phcolumn" target="main">管理展示栏目</a></li>
		</ul>
		<{else}>
		<h4>权限不足</h4>
		<{/if}>			
		<h4 onclick="domenu(this, 'list10')" class="tit">--展示管理--</h4>
		<{if $smarty.session.photoadmin}>
		<ul id="list10">
			<li><a class="list"  href="<{$app}>/photo/add" target="main">添加展示</a></li>
			<li><a class="list"  href="<{$app}>/photo" target="main">管理展示</a></li>		
		</ul>
		<{else}>
		<h4>权限不足</h4>
		<{/if}>
		<h4 onclick="domenu(this, 'list9')" class="tit">--相册图集--</h4>
		<{if $smarty.session.photoadmin}>	
		<ul id="list9">
			<li><a class="list" href="<{$app}>/album/add" target="main">添加图集</a></li>
			<li><a class="list" href="<{$app}>/album" target="main">管理图集</a></li>
		</ul>
		<{else}>
		<h4>权限不足</h4>
		<{/if}>			
		<h4 onclick="domenu(this, 'list10')" class="tit">--相片管理--</h4>
		<{if $smarty.session.photoadmin}>
		<ul id="list10">
			<li><a class="list"  href="<{$app}>/image/add" target="main">添加相片</a></li>
			<li><a class="list"  href="<{$app}>/image" target="main">管理相片</a></li>		
		</ul>
		<{else}>
		<h4>权限不足</h4>
		<{/if}>		
		</div>
		<{elseif $smarty.get.pd eq "five"}>
		<div>
		<h4 onclick="domenu(this, 'list11')" class="tit">--招聘管理--</h4>
		<{if $smarty.session.jobadmin}>	
		<ul id="list11">
			<li><a class="list" href="<{$app}>/job/add" target="main">添加招聘</a></li>
			<li><a class="list" href="<{$app}>/job" target="main">管理招聘</a></li>
		</ul>
		<{else}>
		<h4>权限不足</h4>
		<{/if}>		
		</div>
		<{elseif $smarty.get.pd eq "six"}>
		<div>
		<h4 onclick="domenu(this, 'list191')" class="tit">--维护更新--</h4>
		<{if $smarty.session.boardadmin}>	
		<ul id="list191">
			<li><a class="list" href="<{$app}>/upgrade/tabname" target="main">查看所有数据表</a></li>	
			<li><a class="list" href="<{$app}>/upgrade/" target="main">执行SQL语句</a></li>	
		</ul>
		<{else}>
		<h4>权限不足</h4>
		<{/if}>			
		</div>
		<{elseif $smarty.get.pd eq "seven"}>
		<div>
		<h4 onclick="domenu(this, 'list3')" class="tit">--扩展管理--</h4>
		<{if $smarty.session.funadmin}>	
		<ul id="list3">
			<li><a class="list" href="<{$app}>/fun/add" target="main">添加扩展</a></li>
			<li><a class="list" href="<{$app}>/fun" target="main">管理扩展</a></li>		
		</ul>
		<{else}>
		<h4>权限不足</h4>
		<{/if}>
		<h4 onclick="domenu(this, 'list30')" class="tit">--广告位管理--</h4>
		<{if $smarty.session.funadmin}>	
		<ul id="list30">
			<li><a class="list" href="<{$app}>/advert/add" target="main">添加广告位</a></li>			
			<li><a class="list" href="<{$app}>/advert" target="main">管理广告位</a></li>		
		</ul>
		<{else}>
		<h4>权限不足</h4>
		<{/if}>		
		</div>		
		<{elseif $smarty.get.pd eq "eighth"}>
		<div>
			<h4 onclick="domenu(this, 'list14')" class="tit">--用户组管理--</h4>
			<{if $smarty.session.useradmin}>
			<ul id="list14">
				<li><a class="list" href="<{$app}>/group/add" target="main">添加用户组</a></li>
				<li><a class="list" href="<{$app}>/group" target="main">编辑用户组</a></li>
			</ul>
			<{else}>
				<h4>权限不足</h4>
			<{/if}>			
			<h4 onclick="domenu(this, 'list15')" class="tit">--用户管理--</h4>
			<{if $smarty.session.useradmin}>
			<ul id="list15">
				<li><a class="list" href="<{$app}>/user/add" target="main">添加用户</a></li>
				<li><a class="list" href="<{$app}>/user" target="main">编辑用户</a></li>
			</ul>
			<{else}>
				<h4>权限不足</h4>
			<{/if}>
		</div>
		<{elseif $smarty.get.pd eq "night"}>
		<div>
			<h4 onclick="domenu(this, 'list20')" class="tit">--常规管理--</h4>
			<{if $smarty.session.sendcomment}>
			<ul id="list20">
				<li><a class="list" href="<{$app}>/wap/baseset" target="main">基本设置</a></li>
				<li><a class="list" href="<{$app}>/wap/menu" target="main">导航设置</a></li>
			</ul>
			<{else}>
				<h4>权限不足</h4>
			<{/if}>
			<h4 onclick="domenu(this, 'list21')" class="tit">--焦点图管理--</h4>
			<{if $smarty.session.sendcomment}>
			<ul id="list21">
				<li><a class="list" href="<{$app}>/wap/add" target="main">图片焦点图</a></li>
				<li><a class="list" href="<{$app}>/wap/wappic" target="main">焦点图设置</a></li>
			</ul>
			<{else}>
				<h4>权限不足</h4>
			<{/if}>			
		</div>
		<{elseif $smarty.get.pd eq "ten"}>
		<div>
		<h4 onclick="domenu(this, 'list31')" class="tit">--数据备份--</h4>
		<{if $smarty.session.funadmin}>	
		<ul id="list31">
			<li><a class="list" href="<{$app}>/databak/add" target="main">备份数据库</a></li>
			<li><a class="list" href="<{$app}>/databak/" target="main">管理备份文件</a></li>
			<li><a class="list" href="<{$app}>/webbak/add" target="main">网站打包</a></li>			
			<li><a class="list" href="<{$app}>/webbak/index" target="main">管理压缩包</a></li>	
		</ul>
		<{else}>
		<h4>权限不足</h4>
		<{/if}>
		<h4 onclick="domenu(this, 'list31')" class="tit">--数据备份--</h4>
		<{if $smarty.session.funadmin}>	
		<ul id="list31">
			<li><a class="list" href="<{$app}>/style/" target="main">模板安装</a></li>
			<li><a class="list" href="<{$app}>/template/" target="main">模板编辑</a></li>			
		</ul>
		<{else}>
		<h4>权限不足</h4>
		<{/if}>		
		</div>
		<{else}>
		<div>
			<h4 onclick="domenu(this, 'list16')" class="tit">--系统首页--</h4>
			<ul id="list16">
				<li><a class="list" href="<{$app}>/index/main" target="main">系统首页</a></li>
				<li><a class="list" href="<{$app}>/index/system" target="main">软件说明</a></li>
			</ul>
			<h4 onclick="domenu(this, 'list17')" class="tit">--联系方式--</h4>
			<ul id="list17">
				<li><a class="list" href="http://www.38900.com" target="_blank">官方网址</a></li>
			</ul>
		</div>
		<{/if}>
	</div>
</div>
<{include file="public/footer.html"}>