<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>无标题文档</title>
		<meta name="Author" content="资质代理" />
		<meta name="Keywords" content="资质代理" />
		<link rel="stylesheet" type="text/css" href="<{$public}>/css/thickbox.css" />
		<link rel="stylesheet" type="text/css" href="<{$res}>/css/style.css" />
		<script src="<{$public}>/js/ajax3.0.js"></script>
		<script src="<{$res}>/js/menu.js"></script>		
		<script src="<{$public}>/js/jquery.js"></script>		
		<script src="<{$public}>/js/jquery.thickbox.js"></script>		
	</head>
	<body>